*.pyc
*.ipynb_checkpoints*

build/
/dist/
quantecon.egg-info/
*.DS_Store
*.TODO
*.noseids
*.coverage
*.h5
examples/solow_model/depreciation_rates.dta
examples/solow_model/pwt80.dta
examples/*.png

# Numba cache files
*.nbc
*.nbi

quantecon/optimize/linprog_benchmark_files_original/25FV47.npz
quantecon/optimize/linprog_benchmark_files_original/80BAU3B.npz
quantecon/optimize/linprog_benchmark_files_original/__init__.py
quantecon/optimize/linprog_benchmark_files_original/ADLITTLE.npz
quantecon/optimize/linprog_benchmark_files_original/AFIRO.npz
quantecon/optimize/linprog_benchmark_files_original/AGG.npz
quantecon/optimize/linprog_benchmark_files_original/AGG2.npz
quantecon/optimize/linprog_benchmark_files_original/AGG3.npz
quantecon/optimize/linprog_benchmark_files_original/BANDM.npz
quantecon/optimize/linprog_benchmark_files_original/BEACONFD.npz
quantecon/optimize/linprog_benchmark_files_original/BLEND.npz
quantecon/optimize/linprog_benchmark_files_original/BNL1.npz
quantecon/optimize/linprog_benchmark_files_original/BNL2.npz
quantecon/optimize/linprog_benchmark_files_original/BORE3D.npz
quantecon/optimize/linprog_benchmark_files_original/BRANDY.npz
quantecon/optimize/linprog_benchmark_files_original/CAPRI.npz
quantecon/optimize/linprog_benchmark_files_original/CYCLE.npz
quantecon/optimize/linprog_benchmark_files_original/CZPROB.npz
quantecon/optimize/linprog_benchmark_files_original/D2Q06C.npz
quantecon/optimize/linprog_benchmark_files_original/D6CUBE.npz
quantecon/optimize/linprog_benchmark_files_original/DEGEN2.npz
quantecon/optimize/linprog_benchmark_files_original/DEGEN3.npz
quantecon/optimize/linprog_benchmark_files_original/DFL001.npz
quantecon/optimize/linprog_benchmark_files_original/E226.npz
quantecon/optimize/linprog_benchmark_files_original/ETAMACRO.npz
quantecon/optimize/linprog_benchmark_files_original/FFFFF800.npz
quantecon/optimize/linprog_benchmark_files_original/FINNIS.npz
quantecon/optimize/linprog_benchmark_files_original/FIT1D.npz
quantecon/optimize/linprog_benchmark_files_original/FIT1P.npz
quantecon/optimize/linprog_benchmark_files_original/FIT2D.npz
quantecon/optimize/linprog_benchmark_files_original/FIT2P.npz
quantecon/optimize/linprog_benchmark_files_original/GANGES.npz
quantecon/optimize/linprog_benchmark_files_original/GFRD-PNC.npz
quantecon/optimize/linprog_benchmark_files_original/GREENBEA.npz
quantecon/optimize/linprog_benchmark_files_original/GREENBEB.npz
quantecon/optimize/linprog_benchmark_files_original/GROW15.npz
quantecon/optimize/linprog_benchmark_files_original/GROW22.npz
quantecon/optimize/linprog_benchmark_files_original/GROW7.npz
quantecon/optimize/linprog_benchmark_files_original/ISRAEL.npz
quantecon/optimize/linprog_benchmark_files_original/KB2.npz
quantecon/optimize/linprog_benchmark_files_original/LOTFI.npz
quantecon/optimize/linprog_benchmark_files_original/MAROS-R7.npz
quantecon/optimize/linprog_benchmark_files_original/MAROS.npz
quantecon/optimize/linprog_benchmark_files_original/MODSZK1.npz
quantecon/optimize/linprog_benchmark_files_original/PEROLD.npz
quantecon/optimize/linprog_benchmark_files_original/PILOT-JA.npz
quantecon/optimize/linprog_benchmark_files_original/PILOT-WE.npz
quantecon/optimize/linprog_benchmark_files_original/PILOT.npz
quantecon/optimize/linprog_benchmark_files_original/PILOT4.npz
quantecon/optimize/linprog_benchmark_files_original/PILOT87.npz
quantecon/optimize/linprog_benchmark_files_original/PILOTNOV.npz
quantecon/optimize/linprog_benchmark_files_original/QAP12.npz
quantecon/optimize/linprog_benchmark_files_original/QAP15.npz
quantecon/optimize/linprog_benchmark_files_original/QAP8.npz
quantecon/optimize/linprog_benchmark_files_original/RECIPE.npz
quantecon/optimize/linprog_benchmark_files_original/SC105.npz
quantecon/optimize/linprog_benchmark_files_original/SC205.npz
quantecon/optimize/linprog_benchmark_files_original/SC50A.npz
quantecon/optimize/linprog_benchmark_files_original/SC50B.npz
quantecon/optimize/linprog_benchmark_files_original/SCAGR25.npz
quantecon/optimize/linprog_benchmark_files_original/SCAGR7.npz
quantecon/optimize/linprog_benchmark_files_original/SCFXM1.npz
quantecon/optimize/linprog_benchmark_files_original/SCFXM2.npz
quantecon/optimize/linprog_benchmark_files_original/SCFXM3.npz
quantecon/optimize/linprog_benchmark_files_original/SCORPION.npz
quantecon/optimize/linprog_benchmark_files_original/SCRS8.npz
quantecon/optimize/linprog_benchmark_files_original/SCSD1.npz
quantecon/optimize/linprog_benchmark_files_original/SCSD6.npz
quantecon/optimize/linprog_benchmark_files_original/SCSD8.npz
quantecon/optimize/linprog_benchmark_files_original/SCTAP1.npz
quantecon/optimize/linprog_benchmark_files_original/SCTAP2.npz
quantecon/optimize/linprog_benchmark_files_original/SCTAP3.npz
quantecon/optimize/linprog_benchmark_files_original/SHARE1B.npz
quantecon/optimize/linprog_benchmark_files_original/SHARE2B.npz
quantecon/optimize/linprog_benchmark_files_original/SHELL.npz
quantecon/optimize/linprog_benchmark_files_original/SHIP04L.npz
quantecon/optimize/linprog_benchmark_files_original/SHIP04S.npz
quantecon/optimize/linprog_benchmark_files_original/SHIP08L.npz
quantecon/optimize/linprog_benchmark_files_original/SHIP08S.npz
quantecon/optimize/linprog_benchmark_files_original/SHIP12L.npz
quantecon/optimize/linprog_benchmark_files_original/SHIP12S.npz
quantecon/optimize/linprog_benchmark_files_original/SIERRA.npz
quantecon/optimize/linprog_benchmark_files_original/STAIR.npz
quantecon/optimize/linprog_benchmark_files_original/STANDATA.npz
quantecon/optimize/linprog_benchmark_files_original/STANDMPS.npz
quantecon/optimize/linprog_benchmark_files_original/STOCFOR1.npz
quantecon/optimize/linprog_benchmark_files_original/STOCFOR2.npz
quantecon/optimize/linprog_benchmark_files_original/STOCFOR3.npz
quantecon/optimize/linprog_benchmark_files_original/summary.txt
quantecon/optimize/linprog_benchmark_files_original/TRUSS.npz
quantecon/optimize/linprog_benchmark_files_original/TUFF.npz
quantecon/optimize/linprog_benchmark_files_original/VTP-BASE.npz
quantecon/optimize/linprog_benchmark_files_original/WOOD1P.npz
quantecon/optimize/linprog_benchmark_files_original/WOODW.npz
quantecon/optimize/linprog_benchmark_files/too_large/QAP15.npz
quantecon/optimize/linprog_benchmark_files/too_large/STOCFOR3.npz
quantecon/optimize/linprog_benchmark_files_/__init__.py
quantecon/optimize/linprog_benchmark_files_/AGG.npz
quantecon/optimize/linprog_benchmark_files_/BNL2.npz
quantecon/optimize/linprog_benchmark_files_/BRANDY.npz
quantecon/optimize/linprog_benchmark_files_/D2Q06C.npz
quantecon/optimize/linprog_benchmark_files_/DEGEN2.npz
quantecon/optimize/linprog_benchmark_files_/DEGEN3.npz
quantecon/optimize/linprog_benchmark_files_/E226.npz
quantecon/optimize/linprog_benchmark_files_/FFFFF800.npz
quantecon/optimize/linprog_benchmark_files_/ISRAEL.npz
quantecon/optimize/linprog_benchmark_files_/LOTFI.npz
quantecon/optimize/linprog_benchmark_files_/MAROS-R7.npz
quantecon/optimize/linprog_benchmark_files_/QAP12.npz
quantecon/optimize/linprog_benchmark_files_/QAP8.npz
quantecon/optimize/linprog_benchmark_files_/SC105.npz
quantecon/optimize/linprog_benchmark_files_/SC205.npz
quantecon/optimize/linprog_benchmark_files_/SC50A.npz
quantecon/optimize/linprog_benchmark_files_/SC50B.npz
quantecon/optimize/linprog_benchmark_files_/SCAGR25.npz
quantecon/optimize/linprog_benchmark_files_/SCAGR7.npz
quantecon/optimize/linprog_benchmark_files_/SCFXM1.npz
quantecon/optimize/linprog_benchmark_files_/SCFXM2.npz
quantecon/optimize/linprog_benchmark_files_/SCFXM3.npz
quantecon/optimize/linprog_benchmark_files_/SCORPION.npz
quantecon/optimize/linprog_benchmark_files_/SCRS8.npz
quantecon/optimize/linprog_benchmark_files_/SCSD1.npz
quantecon/optimize/linprog_benchmark_files_/SCSD6.npz
quantecon/optimize/linprog_benchmark_files_/SCSD8.npz
quantecon/optimize/linprog_benchmark_files_/SCTAP1.npz
quantecon/optimize/linprog_benchmark_files_/SCTAP2.npz
quantecon/optimize/linprog_benchmark_files_/SCTAP3.npz
quantecon/optimize/linprog_benchmark_files_/SHARE1B.npz
quantecon/optimize/linprog_benchmark_files_/SHARE2B.npz
quantecon/optimize/linprog_benchmark_files_/SHELL.npz
quantecon/optimize/linprog_benchmark_files_/SHIP04L.npz
quantecon/optimize/linprog_benchmark_files_/SHIP04S.npz
quantecon/optimize/linprog_benchmark_files_/SHIP08L.npz
quantecon/optimize/linprog_benchmark_files_/SHIP08S.npz
quantecon/optimize/linprog_benchmark_files_/SHIP12L.npz
quantecon/optimize/linprog_benchmark_files_/SHIP12S.npz
quantecon/optimize/linprog_benchmark_files_/STOCFOR1.npz
quantecon/optimize/linprog_benchmark_files_/STOCFOR2.npz
quantecon/optimize/linprog_benchmark_files_/summary.txt
quantecon/optimize/linprog_benchmark_files_/TRUSS.npz
quantecon/optimize/linprog_benchmark_files_/WOOD1P.npz
quantecon/optimize/linprog_benchmark_files_/WOODW.npz
quantecon/optimize/linprog_benchmark_files_/too_large/QAP15.npz
quantecon/optimize/linprog_benchmark_files_/too_large/STOCFOR3.npz
quantecon/optimize/linprog_benchmark_files_original/too_large/QAP15.npz
quantecon/optimize/linprog_benchmark_files_original/too_large/STOCFOR3.npz
